html,
body {
  height: 100%;
}

body {
  display: flex;
  padding: 0 10% 0 10%;
  justify-content: center;
  align-items: center;
}

button {
  padding: 5% 20% 5% 20%;
  background: green;
  color: white;
  border-color: black;
  cursor: pointer;
  font-size: 20px;
  width: 100%;
}

.mother-section {
  gap: 10px;
  width: 75vw;
  display: flex;
  flex-direction: column;
}

.decision-section {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
