/* IT IS AN ID SELECTOR, NOT CLASS */
#battle-logs{
  max-height: 100px;
  overflow-y: auto;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  padding: 0 10% 0 10%;
  justify-content: center;
  align-items: center;
}

button {
  padding: 5% 20% 5% 20%;
  background: green;
  color: white;
  border-color: black;
  cursor: pointer;
  font-size: 20px;
  width: 100%;
}

.mother-section {
  gap: 10px;
  width: 75vw;
  display: flex;
  flex-direction: column;
}

.decision-section {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.health-section{
  gap: 10px;
  display: flex;
  flex-direction: column;
  padding-bottom: 90px;
}

.border-health-bar{
  width: 100%;
  border: 1px solid black;
  height: 40px;
}

.health-gap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-health-bar{
  display: flex;
  background-color: red;
  width: var(--hero-health);
  height: 100%;
}

.monster-health-bar{
  display: flex;
  background-color: orange;
  width: var(--monster-health);
  height: 100%;
}

.logs-section {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: red;
}

.result-section{
  padding-bottom: 25px;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: bold;
  color: darkorange;
}